@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800;900&display=swap');

:root{
    --bg-primary: #fafafa;
    --bg-secondary: #1f2020;
    --bg-accent: #531eba;
    --bg-card-color: #f9f7fb;
}

.body::before{
    display: block;
    content: '';
    height: 66.42px;
}

body{
    font-family: 'Poppins', 'sans-serif';
    color: var(--bg-secondary);
}

.section{
    padding-top: 3.4rem;
    padding-bottom: 3.4rem;
}

.text-primary{
    color: var(--bg-primary)!important;
}

.text-dark{
    color: var(--bg-secondary)!important;
}

.text-secondary{
    color: var(--bg-accent)!important;
}

.bg-primary{
    background-color: var(--bg-primary)!important;
}

.btn-primary, .bg-accent{
    background-color: var(--bg-accent)!important;
    border-color: var(--bg-accent);
}

.btn-outline-primary{
    border-color: var(--bg-primary)!important;
    color: var(--bg-primary);
}

.btn-primary:hover,
.btn-outline-primary:hover,
.btn-primary:active,
.btn-outline-primary:active{
    background-color: var(--bg-primary) !important;
    opacity: 0.98;
    color: var(--bg-accent) !important;
    border-color: var(--bg-primary) !important;
}

.btn-secondary, .bg-secondary{
    background-color: var(--bg-secondary)!important;
    border-color: var(--bg-secondary);
}

.btn-outline-secondary{
    border-color: var(--bg-secondary);
    color: var(--bg-secondary);
}

.btn-secondary:hover,
.btn-outline-secondary:hover,
.btn-secondary:active,
.btn-outline-secondary:active{
    background-color: var(--bg-secondary) !important;
    border-color: var(--bg-secondary) !important;
    opacity: 0.9;
    color: var(--bg-primary) !important;
}

.btn-accent{
    background-color: var(--bg-primary);
    border-color: var(--bg-accent);
    color: var(--bg-accent);
}

.btn-outline-accent{
    color: var(--bg-accent);
    border-color: var(--bg-accent) !important;
}

.btn-accent:hover,
.btn-outline-accent:hover,
.btn-accent:active,
.btn-outline-accent:active{
    background-color: var(--bg-primary) !important;
    opacity: 0.98;
    border-color: var(--bg-primary) !important;
    color: var(--bg-accent) !important;
}

.hero-section{
    background: url(../images/cross.svg),url(../images/dots.svg),
        url(../images/cross-line.svg),url(../images/big-cross.svg);
    background-repeat: no-repeat;
    background-position: 207px 90px,0 0,219px 624px,100% 165px;
    padding-top: 30px;
    padding-bottom: 37px;
}

.heading{
    font-size: 60px;
    font-weight: 800;
}

.hero-img{
    width: 50%;
}

.service-card{
    background-color: var(--bg-card-color);
}

.why-choose-us{
    column-gap: 2rem;
}

.bg-testimonial{
    background-color: var(--bg-card-color);
}

.card-rate{
    width: 80%;
    border-color: var(--bg-accent) !important;
    outline: none;
}


/********************************************** Mobile design *******************************/

@media screen and (max-width: 991px) {
    .card-rate{
        width: 90%;
    }

    .heading{
        font-size: 45px;
    }
}

@media screen and (max-width: 923px) {
    .body::before{
        height: 65px;
    }
}

@media screen and (max-width: 800px) {
    .body::before{
        height: 64px;
    }
}

@media screen and (max-width: 767px) {
    .card-rate{
        width: 100%;
    }

    .heading{
        font-size: 40px;
    }
}

@media screen and (max-width: 600px) {
    .body::before{
        height: 60px;
    }

    .heading{
        font-size: 35px;
    }
}


